table tr,th,td{
    border: 1 px solid black;

}
table{
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even){
background-color: rgb(255, 246, 246);
}
th:nth-child(even),td:nth-child(even){
    background-color: rgb(255, 252, 252);
}
tr:hover{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    transition: 800ms;
}